<h3><%= @entry.entry_type.capitalize %></h3><p><%= @entry.date_of_creation %></p>

<p><%= @entry.entry_content %></p>

<p><a href="/vehicles/<%= @vehicle.slug %>"><input type="button" value="<%= @vehicle.full_name %>"></a></p>