<h3><%= "#{@vehicle.model_year.to_s} #{@vehicle.make.capitalize} #{@vehicle.model.capitalize.gsub("_"," ")}" %></h3>
<p><%= "#{@vehicle.mileage.to_s} miles" %></p>

<% if @vehicle.entries.empty? %>
   <p><%= "You don't have any maintenance entries yet!" %></p>
   <p><%= "Click the button below to add your first entry." %></p>
<% else %>
   <% @vehicle.entries.each do |entry| %>
      <h5><a href="/entries/<%= entry.id %>"><%= entry.entry_type %></a></h5>
      <p><%= entry.entry_content %></p>
   <% end %>
<% end %>

<p><a href="/entries/new"><input type="button" value="New Entry"></a></p>

<p><a href="/<%= current_user.email %>"><input type=button value="Back"></a></p>